.idea

# compiled output
back-end/dist
back-end/node_modules

back-end/.env

# Logs
back-end/logs
back-end/*.log
back-end/npm-debug.log*
back-end/pnpm-debug.log*
back-end/yarn-debug.log*
back-end/yarn-error.log*
back-end/lerna-debug.log*

# OS
back-end/.DS_Store

# Tests
back-end/coverage
back-end/.nyc_output

# IDEs and editors
back-end/.idea
back-end/.project
back-end/.classpath
back-end/.c9/
back-end/*.launch
back-end/.settings/
back-end/*.sublime-workspace

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frond-end/node_modules
frond-end/.pnp
frond-end/.pnp.js

# testing
frond-end/coverage

# production
frond-end/build

# misc
frond-end/.DS_Store
frond-end/.env.local
frond-end/.env.development.local
frond-end/.env.test.local
frond-end/.env.production.local

frond-end/npm-debug.log*
frond-end/yarn-debug.log*
frond-end/yarn-error.log*
