.box {
	height: 50px;
	width: 200px;
	font-family: "serif";
	font-weight: 700;
	font-size: large;
	background-color:rgb(199, 206, 201);
}

.div {
	position: absolute;
	top: 80%;
	bottom: 50%;
	left: 40%;
	margin: 0 auto;
}

.nav {
	position: absolute;
	left: 20%;
	color: rgb(65, 63, 61);
	margin: 5 auto;
}

.logo{
	height: 50px;
	width: 100px;
}

