/*css for home */

#welcome {
  color: rgb(214, 141, 112);
  border:  3px rgb(235, 230, 230);
  position: relative;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top: 100px;
  left: 100px;
  height: 1000px;
  width: 600px;
  font-size:xx-large;
  margin: 0 auto;
}

.box {
  margin-right: 20px;
  height: 80px;
  width: 300px;
  font-family: cursive;
  font-weight: bold;
  font-size: x-large;
  background-color: rgb(202, 222, 208);
}

.div {
  position: absolute;
  top: 70%;
  left: 40%;
}

.nav {
  position: absolute;
  left: 20%;
  color: rgb(244, 219, 195);
  /* margin: 5 auto; */
}
.log-out {
  position: relative;
  left: 600px;
}

.gif {
  height: 550px;
  width: 650px;
  position: relative;
  left: 30%;
  transform: translateX(50%);
  /* bottom: 70%; */
  transform: translateY(10%);
}

.logo {
  height: 50px;
  width: 100px;
}

.editname{
  position: relative;
  width: 400px;
  height: 50px;
  top: 10px;
  left: 30px;
}

.editvalide {
  top: 200px;
  right: 100px;
  
}

.baravatar {
  left: 400px;
}

/*css for signup*/
.signup {
  height: 40px;
  width: 100%;
}

.profil { 
  background-color: rgb(137, 171, 128);
  color: rgb(25, 24, 24);
  transform: translateX(50%);
  transform: translateY(300);
  height: 600px;
  width: 55%;
}

.image {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.valide {
  position:fixed;
  top: 20%;
  left: 22%;
  margin: 5 auto;
}


/*page char*/

.search {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  color: rgb(13, 44, 30);
  opacity: 0.7;
  border-radius: 5px;
  position:fixed;
  top: 30%;
  left: 22%;
  margin: 5 auto;
  height: 50px;
  width: 300px;
}

.searchbutton {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  color: rgb(13, 44, 30);
  opacity: 0.5;
  border-radius: 5px;
  position:fixed;
  top: 31%;
  left: 45%;
  height: 49px;
  width: 100px;
}

.newName {
  position: relative;
  top: 60%;
  right: 22%;
  height: 20px;
  width: 300px;
}

.avatar {
  position: fixed;
  top: 280px;
  left: 200px;
  opacity: 1;
}

.profilimg {
  position: relative;
  top: 100px;
  left: 10px;
} 

.editimg {
  position: relative;
  top: 100px;
  left: 200px;
} 

/*for edit */
.buttonedit {
  margin: 10px;
}

.edit {
  top: 20%;
  left: 75%;
}

.upload {
  position:fixed;
  top: 85px;
  left: 200px;
}

.twofa {
  position:relative;
  top:  44%;
  right: 50%;
}

